{% extends 'base_registration.html' %}

{% block content %}

{% load static %}
    <div class="p-5 bg-light">
        <h3>Login </h3>
        
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
                {% else %}
                    <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}

            <form method="post" action="{% url 'login' %}" class="mx-auto">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col">
                        <label for="id_username">Username</label>
                        <input class="form-control" type="text" name="username" id="id_username" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label for="id_password">Password</label>
                        <input class="form-control" type="password" name="password" id="id_password" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <input type="submit" value="login" class="btn btn-success">
                        <input type="hidden" name="next" value="{{ next }}">
                    </div>
                </div>

            </form>
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-md-12 mx-auto social-container my-2 order-md-1 ">
                    <!-- <button class="btn mb-2">
                        <a href="#">Login with Instagram</a>
                    </button> -->
                    <!-- <button type="button" class="btn btn-primary"> -->
                            {% if not user.is_authenticated %}
                            <a class="btn btn-outline-primary p-3" style="color: blue" role="button" href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
                            <!-- <a class="btn btn-outline-primary p-3" style="color: blue" role="button" href="{% url 'social:begin' 'facebook' %}"></a> -->
                            <a class="btn btn-outline-primary p-3" style="color: blue" role="button" href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a>
                            <a class="btn btn-outline-primary p-3" style="color: blue" role="button" href="{% url 'social:begin' 'instagram' %}?next={{ request.GET.next }}">Login with Instagram</a>
                            <a class="btn btn-outline-primary p-3" style="color: blue" role="button" href="{% url 'social:begin' 'linkedin-oauth2' %}">Login with LinkedIn</a>
                        {% else %}
                            <a class="btn btin-twitter p-3" style="color: blue" role="button" href="{% url 'logout-social' %}">Logout</a>
                         
                            <!-- <a class="btn btn-outline-primary p-3" style="color: #1DA1F2" role="button" href="{% url 'logout-social' %}">Login with Twitter</a> -->
                        {% endif %}
                    <!-- </button> -->
                    <!-- <button class="btn mb-2">
                        <a href="#">Login with LinkedIn</a>
                    </button> -->
                </div>
            </div>
        </div>

        <div class="mt-5">
            <span></span><a href="{% url 'signup' %}"> Create an account</a>
        </div>
        
    </div>
{% endblock %}