{% extends 'base.html' %}

{% block content %}

{% load static %}
<div class="wrapper">
  
    {% include "partials/sidebar.html" %}


  <div class="main-panel">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=1476435592528450&autoLogAppEvents=1" nonce="AR7K96RJ"></script>

      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
              <li class="search-bar input-group">
                <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i class="tim-icons icon-zoom-split" ></i>
                  <span class="d-lg-none d-md-block">Search</span>
                </button>
              </li>
              <li class="dropdown nav-item">
                <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="notification d-none d-lg-block d-xl-block"></div>
                  <i class="tim-icons icon-sound-wave"></i>
                  <p class="d-lg-none">
                    Notifications
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
                  <li class="nav-link"><a href="#" class="nav-item dropdown-item">Mike John responded to your email</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">You have 5 more tasks</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Your friend Michael is in town</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Another notification</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Another one</a></li>
                </ul>
              </li>
              <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="photo">
                    <img src="{% static '/assets/img/anime3.png' %}" alt="Profile Photo">
                  </div>
                  <b class="caret d-none d-lg-block d-xl-block"></b>
                  <p class="d-lg-none">
                    Log out
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-navbar">
                  <li class="nav-link"><a href="{% url 'clients:user-profile' %}" class="nav-item dropdown-item">Profile</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Settings</a></li>
                  <li class="dropdown-divider"></li>
                  <li class="nav-link"><a href="{% url 'logout' %}" class="nav-item dropdown-item">Log out</a></li>
                </ul>
              </li>
              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-12">
            <div class="card card-chart">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-6 text-left">
                    <h5 class="card-category"> {{page.name}} Insights</h5>
                    <h2 class="card-title">Performance</h2>
                  </div>
                  <div class="col-sm-6">
                    <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                      <label class="btn btn-sm btn-primary btn-simple active" id="0">
                        <input type="radio" name="options" checked>
                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Engagement</span>
                        <span class="d-block d-sm-none">
                          <i class="tim-icons icon-single-02"></i>
                        </span>
                      </label>
                      <label class="btn btn-sm btn-primary btn-simple" id="1">
                        <input type="radio" class="d-none d-sm-none" name="options">
                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Reach</span>
                        <span class="d-block d-sm-none">
                          <i class="tim-icons icon-gift-2"></i>
                        </span>
                      </label>
                      <label class="btn btn-sm btn-primary btn-simple" id="2">
                        <input type="radio" class="d-none" name="options">
                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Impression</span>
                        <span class="d-block d-sm-none">
                          <i class="tim-icons icon-tap-02"></i>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="chartBig1"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Follower Count</h5>
                <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> {{total_page_engagments}}</h3>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="chartLinePurple"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Profile Views</h5>
                <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i> 3,500</h3>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="CountryChart"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Website Click</h5>
                <h3 class="card-title"><i class="tim-icons icon-send text-success"></i>{{total_cta}}</h3>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="chartLineGreen"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row ">
            <div class="col-6">
              <div class="card">
                <div class="card-header text-center">
                  <h3 class="card-title">Post Tweet</h3>
                </div>
                <div class="card-body">
                    <div class="d-inline p-2"><img style="border-bottom-right-radius: 50%;border-bottom-left-radius: 50%;border-top-right-radius: 50%;border-top-left-radius:50%;" src="{{picture}}" width="40" height="40" alt=""></div>
                    <div class="d-inline p-2 pl-0 text-white">{{name}}</div>
  
                    <form class="mt-4" action="{% url 'twitter:post-tweet' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                          <label for="exampleFormControlTextarea1" class="w-100">What's on your mind?
                            <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </label>
  
                          <label for="" class="w-100">
                              <input class="form-control" name="location" style="display:none;" id="location_input" placeholder="Add location"></input>
                            </label>
  
                          <label for="" class="w-100">
                              <input class="form-control" name="link" style="display:none;" id="link_input" placeholder="Add link"></input>
                            </label>
  
  
  
                          <div class="row justify-content-center">
                            <div class="file-field">
                              <div class="d-flex justify-content-center">
                                <div class="btn btn-mdb-color btn-rounded float-left">
                                  <i class="tim-icons icon-image-02"></i>
                                  <input type="file" name="image" onchange="readURL(this)">
                                </div>
                              </div>
                            </div>
  
                            <div class="file-field">
                              <div class="d-flex justify-content-center">
                                <a href="javascript:void(0)" onclick="showInput(1)" class="btn btn-mdb-color btn-rounded float-left ml-3">
                                      <i class="tim-icons icon-world"></i>
                                  </a>
                              </div>
                            </div>
  
                            <div class="file-field">
                                <div class="d-flex justify-content-center">
                                  <a href="javascript:void(0)" onclick="showInput(2)" class="btn btn-mdb-color btn-rounded float-left ml-3">
                                        <i class="tim-icons icon-link-72"></i>
                                    </a>
                                </div>
                              </div>
                          </div>
  
                          <button type="submit" class="btn btn-group btn-primary w-100 p-2 pb-3 mt-2" style="text-align: center;display: inline-block;">Tweet</button>
                        </div>
                    </form>
                </div>
              </div>
            </div>
            
            <div class="col-6">
              <div class="card">
                  <div class="card-header text-center">
                    <h3 class="card-title">Tweet Preview</h3>
                  </div>
                  <div class="body">
                    <div class="col bg-white p-5 pb-4">
                      <div class="row">
                        <div class="d-inline p-2"><img style="border-bottom-right-radius: 50%;border-bottom-left-radius: 50%;border-top-right-radius: 50%;border-top-left-radius:50%;" src="{{picture}}" width="40" height="40" alt=""></div>
                        <div class="d-inline p-2 pl-0" id="preview_title">{{name}} <br> <small> </small></div>
                      </div>
                      <div class="row text-dark">
                        <span id="preview_message"></span>
                      </div>
                      <div class="row mt-3 justify-content-center">
                          <div id="carouselExampleControls" class="carousel slide w-100" data-ride="carousel">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img class="d-block w-100" id="preview_image" src="#" alt="No preview image">
                                </div>
                              </div>
                              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </div>
                      </div>
                    </div>
                    <div class="col bg-secondary w-100 p-3">
  
                    </div>                    
                  </div>
            </div>
  
          <script>
              const message_field = document.getElementById('exampleFormControlTextarea1');
              const preview_message = document.getElementById('preview_message');
              const location_field = document.getElementById('location_input');
              const previewTitle_filed = document.getElementById('preview_title');
              location_field.addEventListener('change', previewLocation);
              message_field.addEventListener('change', updateValue);
  
  
              function updateValue(e) {
                preview_message.innerHTML = e.target.value;
              }
              
              function previewLocation(e) {
                previewTitle_filed.innerHTML = "{{name}} is at "+ e.target.value
              }
  
              function readURL(input) {
                  var url = input.value;
                  var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
                  if (input.files && input.files[0]&& (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
                      var reader = new FileReader();
  
                      reader.onload = function (e) {
                          $('#preview_image').attr('src', e.target.result);
                          // console.log(e.target.result)
                      }
  
                      
  
                      reader.readAsDataURL(input.files[0]);
                  }else{
                      // $('#preview_image').attr('src', '/assets/no_preview.png');
                  }
                }
                
              
              function showInput(num) {
                
                if (num == 1) {
                  var x = document.getElementById("location_input");
                }
                else if (num == 2) {
                  var x = document.getElementById("link_input");
                }
                
                if (x.style.display === "none") {
                  x.style.display = "block";
                } else {
                  x.style.display = "none";
                }
              }
  
          </script>
          
          
          </div>
  
          </div>
        
        <div class="col-12">
          <div class="card ">
            <div class="card-header">
              <h4 class="card-title"> {{page.name}} Posts</h4>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                    {% for tweet in tweets %}
                          <div class="col-md-4 mb-3">
                            <div class="container">
                            <div class="row justify-content-center">
                                <blockquote class="twitter-tweet">
                                  <p lang="en" dir="ltr">
                                    {{tweet.text}}
                                    <a href="https://t.co/m93L28M7xh">https://t.co/m93L28M7xh</a>
                                  </p>&mdash; {{tweet.user.name}} (@{{tweet.user.screen_name}}) 
                                  <a href="https://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id}}?ref_src=twsrc%5Etfw">{{tweet.created_at}}</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
              </div>
            </div>
          </div>
        
        </div>
      </div>
  </div>
</div>

{% load static %}

<script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/core/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <!-- Chart JS -->
  <script src="{% static 'assets/js/plugins/chartjs.min.js' %}"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static 'assets/js/plugins/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'assets/js/black-dashboard.min.js?v=1.0.0' %}"></script><!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <script src="{% static 'assets/demo/demo.js' %}"></script>


<script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      chart_data = [200, 70, 90, 70, 85, 60, 75, 700, 90, 80, 110, 100];
      months_data = ["Jan", "Feb", "Mar", "Apr", "May", "Jun"];

      // set_char_variables(0, chart_data, 0)

      // demo.initDashboardPageCharts({{engagement}}, {{reach}}, {{impressions}}, {{followers}}, [100, 50, 0, 80, 30], months_data, months_data, {{profile_views}})
      demo.initDashboardPageCharts({{engagement}}, {{reach}}, {{impressions}}, {{followers}}, {{website_clicks}}, [1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6], {{profile_views}})
    });

</script>

{% endblock %}